.descricao-produtos-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.descricao-container {
    max-width: 900px;
    margin: 0 auto; /* Isso centraliza o container horizontalmente */
    padding: 20px; /* Adiciona um pouco de espaço nas laterais e no topo/inferior */
    height: 120px;
    overflow-y: hidden;
    margin-bottom: 20px;
    transition: height 0.7s ease-in-out;
}

.secao-produto {
    margin-bottom: 20px;
    text-align: center;
}

.titulo-secao {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.descricao-secao {
    opacity: 0.6;
    font-size: 1.2rem;
}


.botao-vermais {
    color: black;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 20px; /* Adiciona um espaço acima do botão */
    text-transform: uppercase;
}


.fade-out {
    position: relative;
}

    .fade-out::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to bottom, transparent, white);
        pointer-events: none;
    }
