body {
    margin: 0 auto;
    font-family: "Roboto", "Arial" sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, li {
    margin: 0;
}

ul {
    padding: 0;
}
