.main-bg {
    font-size: 1.5rem;
    gap: 2rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.categoria-geral {
    display: block;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}



.Filtros-grid h3 {
    margin: 0;
    padding-bottom: 6px;
    border-bottom: #ccc solid 0.1px;
    margin-bottom: 6px;
}

.tamanhos {
    margin: 0;
    border-bottom: #ccc solid 0.1px;
}

    .tamanhos h4 {
        margin: 0px;
        margin-bottom: 4px;
    }

.tamanho-tipos ul {
    margin: 2px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4px;
    margin-bottom: 10px;
}

    .tamanho-tipos ul li {
        padding: 4px 8px;
        border: #ccc solid 2px;
        border-radius: 6px;
        text-transform: uppercase;
    }

.Filtros-grid h4 {
    margin-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    text-transform: capitalize;
}

.filtros-cores {
    border-bottom: #ccc solid 0.1px;
    height: 180px;
    overflow-y: auto;
}


.filtros-cores ul {
    margin: 0;
    padding-bottom: 6px;
}

.filtros-cores li {
    display: flex; /* Para alinhar o checkbox e o label */
    align-items: center; /* Alinhar verticalmente ao centro */
    margin-bottom: 5px; /* Espaçamento entre os itens da lista */
    text-transform: capitalize;
}

.filtros-cores li label {
    margin-left: 6px;
}

.filtros-cores li input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.categoria-filtros {
    height: 150px; /* Altura fixa desejada */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
    border-bottom: 1px solid #ccc; /* Adicionado para visualização da div */
}


.categoria-filtros ul {
    margin: 0;
    padding-bottom: 6px;
}

.categoria-filtros li {
    display: flex; /* Para alinhar o checkbox e o label */
    align-items: center; /* Alinhar verticalmente ao centro */
    margin-bottom: 5px; /* Espaçamento entre os itens da lista */
    text-transform: capitalize;
}

.categoria-filtros li label {
    margin-left: 6px;
}

.categoria-filtros li input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.slider-wrapper {
    text-align: center;
    border-bottom: solid rgb(188, 182, 182) 0.1px;
    padding-bottom: 6px;
}

.price-slider {
    width: 80%; /* Ajuste a largura conforme necessário */
}

#valoresPreco {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: start;
}

.produtos-grid {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    border-top: solid rgb(188, 182, 182) 0.1px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.produtos-grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    gap: 10px 10px;
    padding: 0px;
    margin-left: 6px;
}

.produto-card {
    overflow: hidden;
    max-width: 17.5rem;
    min-width: 10rem;
}

.produto-card img {
    width: 100%;
    height: auto;
    display: block;
    flex-grow: 1;
    object-fit: cover;
}

.produto-card-content {
    padding: 6px;
    text-align: start;
}

.produto-card-name {
    font-weight: 0.875rem;
}

.produto-card-parcelas {
    font-size: small;
    color: gray;
}

.produto-card-price {
    font-weight: bolder;
    color: green;
    margin-bottom: 2px; /* Adicionei margem abaixo do preço */
}

.buy-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buy-button:hover {
    background-color: darkgreen;
}
