.painel-promocoes-bg {
    width: 100%; /* Garante que a seção ocupe a largura total do pai */
    display: flex; /* Para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
}

.painel-promocoes {
    max-width: 1200px; /* Define a largura máxima do conteúdo */
    width: 100%; /* Permite que o painel se ajuste a telas menores */
}

    .painel-promocoes a img {
        display: block;
        width: 100%;
        height: 300px; /* Define a altura para 300px */
        object-fit: cover; /* Recorta a imagem para preencher o container */
        object-position: top; /* Alinha o topo da imagem */
    }
