.create-produto-bg {
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #5b5b5b;
    border-bottom: 2px solid #5b5b5b;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fbfbfb;
}

.titulo-adicionar{
    margin-top: 20px;
    margin-bottom: 20px;
}