.produtos-grid-bg {
    display: flex;
    justify-content: center;
}

.table-container {
    display: grid;
    grid-auto-columns: 1fr;
    max-width: 75rem;
}

.tabela-produtos {
    width: 100%; 
    border-collapse: collapse; 
    text-align:start;
    border: 2px solid #000000;
    padding-bottom:20px;
}

.tabela-produtos-header {
    display: grid;
    grid-template-columns: 0.75fr 3fr 1.5fr 1.5fr 2fr 0.75fr 2.5fr; 
    padding-bottom: 6px;
    border-bottom: 1px solid #000000;
}

.tabela-produtos-header th {
    text-align: start;
    padding-top: 6px;      
  
}


.tabela-produtos-data {
    display: grid;
    grid-template-columns: 0.75fr 3fr 1.5fr 1.5fr 2fr 0.75fr 2.5fr; 
    
}

.tabela-produtos-data td {
    text-align: start;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

.tabela-produtos-data:nth-child(even) {
    background-color: #f0f0f0; 
}

.header-produto{
    display:flex;
    justify-content:space-between;
    align-items: center;   

}
.categorias-item-admin a{
    color: #000;
}

.table-container {
    margin-top: 30px;
    border-top: solid #000 2px;
    margin-bottom: 30px;
}

.header-produto {
    margin-top: 10px;
    margin-bottom: 10px;
}


.botao-adicionar-admin{
    color: #000;
    border: solid #000 2px;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #00ff21;
    text-transform: uppercase;

}

.botao-adicionar-admin:hover {
    background-color: #006422;
    color: #fff;
}

.tabela-header{
    padding-bottom: 20px
}


.tabela-produtos-data td a {
    color: #000;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 2px 4px;
    border: solid #000 1px;
    border-radius: 4px;
   
}



#detalhes {
    background-color: #00ffff;
}

#editar{
    background-color: #ffd800;
}

#excluir {
    background-color:#ff0000;
    color: azure;
}

#detalhes:hover {
    background-color: #00ffff;
}

#editar:hover {
    background-color: #ffd800;
}

#excluir:hover {
    background-color: #ff0000;
    color: azure;
}



