@import "global.css";
@import "header.css";
@import "main.css";
@import "descricao.css";
@import "painel_promocoes.css";
@import "newslatter.css";
@import "rodape.css";
@import "produtos.css";
