<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moda_Praia</title>
    <link rel="stylesheet" href="/css/style.css" />
   
</head>
<body>
    <Header class="header-bg">
        <div class="categorias-promocoes">
            <a href="#"><b>tudo </b>com <b>40%</b> de <b>Desconto</b></a>
        </div>

        <div class="desconto-primeira-compra">
            <a href="#">10% na primeira compra</a>
        </div>

        <header class="header-bg">
            <div class="menu-bg">
                <div class="logo-principal"><a href="#">Moda Praia</a></div>
                <div class="Buscar-Produtos">
                    <input type="text" placeholder="Buscar Produtos">
                </div>
                <nav class="nav-menu">
                    <ul class="nav-item">
                        <li><a href="#"><img src="/css/img/coracao.svg" alt="Favoritos"></a></li>
                        <li><a href="#"><img src="/css/img/usuario.svg" alt="login"></a></li>
                        <li><a href="#"><img src="/css/img/carrinho_compra.svg" alt="ccarrinho de compras"></a></li>

                    </ul>


                </nav>
            </div>

            <ul class="nav-categorias">
                <li class="categorias-item"><a href="#">Maiôs</a></li>
                <li class="categorias-item"><a href="#">Biquinis</a></li>
                <li class="categorias-item"><a href="#">Saidas de Praia</a></li>
                <li class="categorias-item"><a href="#">Sungas</a></li>
            </ul>


        </header>
    </Header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Moda_Praia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
