<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moda_Praia</title>
    <link rel="stylesheet" href="/css/style.css" />
   
</head>
<body>
    <Header>
        <div class="categorias-promocoes">
            <a href="#"><b>tudo </b>com <b>40%</b> de <b>Desconto</b></a>
        </div>

        <div class="desconto-primeira-compra">
            <a href="#">10% na primeira compra</a>
        </div>

        <header class="header-bg">
            <div class="menu-bg">
                <div class="logo-principal"><a href="#">Moda Praia</a></div>
                <div class="Buscar-Produtos">
                    <input type="text" placeholder="Buscar Produtos">
                </div>
                <nav class="nav-menu">
                    <ul class="nav-item">
                        <li><a  href="#"><img src="~/css/img/icons/home/coracao.svg" alt="Favoritos"></a></li>
                        <li><a  href="#"><img src="~/css/img/icons/home/login.svg" alt="login"></a></li>
                        <li><a  href="#"><img src="~/css/img/icons/home/carrinho_compra.svg" alt="carrinho" /></a></li>
                        <li><a  asp-area="Admin" asp-controller="Produtos" asp-action="Index"><img src="~/css/img/icons/home/admin.svg" alt="Admin" /></a></li>
                    </ul>


                </nav>
            </div>

            <ul class="nav-categorias">
                <li class="categorias-item"><a href="#">Maiôs</a></li>
                <li class="categorias-item"><a href="#">Biquinis</a></li>
                <li class="categorias-item"><a href="#">Saidas de Praia</a></li>
                <li class="categorias-item"><a href="#">Sungas</a></li>
            </ul>


        </header>
    </Header>
    
    @RenderBody()
        
    

    <section class="painel-promocoes-bg">
        <div class="painel-promocoes">
            <a href="#"><img src="~/css/img/painel_promocoes.png" alt="Maios"></a>
        </div>
    </section>

    <section class="descricao-produtos-bg">
        <div class="descricao-container">
            <div class="secao-produto">
                <h3 class="titulo-secao">Maiôs</h3>
                <p class="descricao-secao">
                    O <b>Maiô Verão 2025</b> da BeachWear manteve a elegância que se espera da peça, mas trouxe muita modernidade com uma <b>estética contemporânea e uma pegada easy chic</b>. Os novos maiôs valorizam o corpo, oferecem conforto e ainda possuem detalhes únicos que fazem a diferença.
                    Tanto os maiôs quanto os bodies da coleção nova foram desenvolvidos com estampas e tecidos fluidos para garantir um toque de frescor e liberdade, características essenciais da <b>tendência verão 2025</b>. Essas peças são perfeitas para compor looks praianos ou urbanos, basta você ousar!
                </p>
            </div>

            <div class="secao-produto">
                <h3 class="titulo-secao">Biquínis</h3>
                <p class="descricao-secao">
                    A coleção começa com o <b>Biquíni Verão 2025</b> que traz muita elegância e inovação. As novas modelagens foram pensadas para valorizar o corpo e garantir conforto, cada <b>Biquíni Top</b> é uma peça única com detalhes especiais.
                    Os novos cortes e combinações de cores dos biquínis refletem as principais tendências moda praia verão 2025. Seja para um dia de sol na praia ou para uma pool party, os biquínis da BeachWear são perfeitos para qualquer ocasião.
                </p>
            </div>

            <div class="secao-produto">
                <h3 class="titulo-secao">Saídas de Praia</h3>
                <p class="descricao-secao">
                    A <b>Saída de Praia 2025</b> é ideal para complementar um belo look praiano ou compor um visual urbano, ou seja, você pode arrasar dentro e fora das areias. As saídas de praia foram confeccionadas com tecidos fluidos e traz <b>padrões clássicos e mix de estampas</b> que refletem a essência da marca.
                    Essas peças são ideais para transitar da areia para ambientes urbanos com estilo e conforto. As roupas de praia da BeachWear combinam <b>sofisticação e praticidade</b>, permitindo que você aproveite o melhor do verão com elegância.
                </p>
            </div>

            <div class="secao-produto">
                <h3 class="titulo-secao">Sungas</h3>
                <p class="descricao-secao">A BeachWear também oferece uma linha de <b>sungas</b> que combinam conforto e estilo para o público masculino. Com diversos cortes e estampas alinhadas às tendências do verão 2025, as sungas são perfeitas para aproveitar os dias de sol com atitude e elegância. Os tecidos de alta qualidade garantem um caimento perfeito e liberdade de movimento para todas as atividades na praia ou piscina.</p>
            </div>

        </div>
        <button class="botao-vermais" type="button" id="verMais">ver mais</button>

    </section>

    <section class="newsletter-bg">
        <div class="newsletter-container">
            <h2>newsletter</h2>
            <h3>Recebe ofertas e novidades por email</h3>
            <div class="cadastro-form">
                <ul>
                    <li><input type="text" id="nome" placeholder="Digite seu nome"></li>
                    <li><input type="text" id="email" placeholder="Digite seu E-mail"></li>
                    <li><button type="submit">Cadastrar</button></li>
                </ul>
            </div>
            <div class="receber-email-confirmado">
                <input type="checkbox" name="aceitar_receber_Email" id="receber_email" checked>
                <label for="receber_email">Aceito receber informes publicitários e promoções através newsletter de Beachwear</label>
            </div>
        </div>

    </section>

    <footer>
        <div class="rodape-bg">
            <div class="rodape-container">
                <div class="categoria-rodape">
                    <h2>Sobre</h2>
                    <ul>
                        <li><a href="">História</a></li>
                        <li><a href="">Trabalhe conosco</a></li>
                        <li><a href="">conecte-se</a></li>
                    </ul>
                </div>

                <div class="categoria-rodape">
                    <h2>Conta</h2>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Minha Conta</a></li>
                        <li><a href="">Meus Pedidos</a></li>
                        <li><a href="">Wishlist</a></li>
                    </ul>
                </div>

                <div class="categoria-rodape">
                    <h2>Atendimento</h2>
                    <ul>
                        <li><a href="">Fompra segura</a></li>
                        <li><a href="">Formas de pagamento</a></li>
                        <li><a href="">Entrega e frete</a></li>
                        <li><a href="">Troca e pedidos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="informacoes-adicionais-bg">
            <div class="informacoes-adicionais">
                <div class="sac-bg">
                    <div class="sac">
                        <h2>sac (11) 2233-4455</h2>
                        <h2>Formas de pagamento</h2>
                    </div>

                    <div class="cards-pagamento">
                        <ul>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/visaCard.svg" alt="visa"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/amex.svg" alt="amex"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/mastercard.svg" alt="mastercard"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/diners-club.svg" alt="visa"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="site-seguro">
                    <a href=""><img src="css/img/desbloquear.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="endereco-bg">
            <div class="endereco">
                <p>Atendimento de segunda a quinta-feira das 09:00 às 18:00 e sexta-feira até as 17:00, exceto feriados - Avenida das Flores, 123   sala 10 - Bairro Jardim Alegre Cotia - São Paulo, CEP: 06700-000 - Florescer Artigos para o Lar Ltda - CNPJ: 12.345.678/0001-90</p>
            </div>
        </div>
    </footer>

   




    
    <script src="~/js/style.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
