<main class="main-bg">
    <h2 class="categoria-geral">Maios e Bodies</h2>
    <div class="produtos-grid">

        <div class="Filtros-grid">
            <h3>Filtros</h3>

            <div class="tamanhos">
                <h4>Tamanhos</h4>
                <div class="tamanho-tipos">
                    <ul>
                        <li>pp</li>
                        <li>p</li>
                        <li>m</li>
                        <li>g</li>
                        <li>gg</li>
                    </ul>
                </div>
            </div>


            <h4>cor</h4>
            <div class="filtros-cores">
                <ul>
                    <li><input type="checkbox" id="amarelo" name="cor" value="amarelo"><label for="amarelo">amarelo</label></li>
                    <li><input type="checkbox" id="branco" name="cor" value="branco"><label for="branco">branco</label></li>
                    <li><input type="checkbox" id="preto" name="cor" value="preto"><label for="preto">preto</label></li>
                    <li><input type="checkbox" id="verde" name="cor" value="verde"><label for="verde">verde</label></li>
                    <li><input type="checkbox" id="vermelho" name="cor" value="vermelho"><label for="vermelho">vermelho</label></li>
                    <li><input type="checkbox" id="azul" name="cor" value="azul"><label for="azul">azul</label></li>
                    <li><input type="checkbox" id="marrom" name="cor" value="marrom"><label for="marrom">marrom</label></li>
                    <li><input type="checkbox" id="lilaz" name="cor" value="lilaz"><label for="lilaz">lilaz</label></li>
                    <li><input type="checkbox" id="rosa" name="cor" value="rosa"><label for="rosa">rosa</label></li>
                    <li><input type="checkbox" id="vinho" name="cor" value="vinho"><label for="vinho">vinho</label></li>
                </ul>

            </div>
            <h4>Categoria</h4>
            <div class="categoria-filtros">
                <ul>
                    <li><input type="checkbox" id="sunga" name="categoria" value="sunga"><label for="sunga">sunga</label></li>
                    <li><input type="checkbox" id="maio" name="categoria" value="maio"><label for="maio">maio</label></li>
                    <li><input type="checkbox" id="saida-de-praia" name="categoria" value="saida-de-praia"><label for="saida-de-praia">saida de praia</label></li>
                    <li><input type="checkbox" id="bikinis" name="categoria" value="bikinis"><label for="bikinis">bikinis</label></li>
                    <li><input type="checkbox" id="sunga" name="categoria" value="sunga"><label for="sunga">sunga</label></li>
                    <li><input type="checkbox" id="maio" name="categoria" value="maio"><label for="maio">maio</label></li>
                    <li><input type="checkbox" id="saida-de-praia" name="categoria" value="saida-de-praia"><label for="saida-de-praia">saida de praia</label></li>
                    <li><input type="checkbox" id="bikinis" name="categoria" value="bikinis"><label for="bikinis">bikinis</label></li>
                </ul>
            </div>


            <h4>faixa de preço</h4>
            <div class="slider-wrapper">
                <input type="range" class="price-slider" id="precoMin" name="precoMin" min="100" max="300" value="100">
                <div id="valoresPreco">De R$ <span id="valorMin">100</span> até R$ <span id="valorMax">300</span></div>
            </div>

        </div>


        <div class="produtos-grid-items">
            <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

             <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

             <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

             <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>

            <div class="produto-card">
                <a href="#"><img src="/css/img/produto-card.png" alt="Imagem 1"></a>
                <div class="produto-card-content">
                    <div class="produto-card-name">Cortininha tanga</div>
                    <div class="produto-card-price">R$ 180,00</div>
                    <div class="produto-card-parcelas">ou 6x R$ 20,00</div>
                    <a href="#" class="buy-button">Comprar</a>
                </div>
            </div>
           
          
           
        </div>
    </div>
</main>