<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
   
</head>
<body>
    <Header >
        <div class="categorias-promocoes">
            <a href="#"><b>tudo </b>com <b>40%</b> de <b>Desconto</b></a>
        </div>

        <div class="desconto-primeira-compra">
            <a href="#">10% na primeira compra</a>
        </div>

        <header class="admin-header-bg">
            <div class="menu-bg">
                <div class="logo-principal-admin"><a asp-area="" asp-controller="Home" asp-action="Index">Moda Praia</a></div>
                <div class="Buscar-Produtos-admin">
                    <input type="text" placeholder="Buscar Produtos">
                </div>
                <nav class="nav-menu">
                    <ul class="nav-item">
                        <li><a href="#"><img src="~/css/img/icons/admin/coracao.svg" alt="Favoritos"></a></li>
                        <li><a href="#"><img src="~/css/img/icons/admin/login.svg" alt="login"></a></li>
                        <li><a href="#"><img src="~/css/img/icons/admin/carrinho_compra.svg" alt="carrinho" /></a></li>
                        <li><a asp-area="Admin" asp-controller="Produtos" asp-action="Index"><img src="~/css/img/icons/admin/admin.svg" alt="Admin" /></a></li>
                    </ul>


                </nav>
            </div>

            <ul class="nav-categorias">
                <li class="categorias-item"><a href="#">Maiôs</a></li>
                <li class="categorias-item"><a href="#">Biquinis</a></li>
                <li class="categorias-item"><a href="#">Saidas de Praia</a></li>
                <li class="categorias-item"><a href="#">Sungas</a></li>
            </ul>


        </header>
    </Header>
    
    @RenderBody()        
    

    <footer>
        <div class="rodape-bg">
            <div class="rodape-container">
                <div class="categoria-rodape">
                    <h2>Sobre</h2>
                    <ul>
                        <li><a href="">História</a></li>
                        <li><a href="">Trabalhe conosco</a></li>
                        <li><a href="">conecte-se</a></li>
                    </ul>
                </div>

                <div class="categoria-rodape">
                    <h2>Conta</h2>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Minha Conta</a></li>
                        <li><a href="">Meus Pedidos</a></li>
                        <li><a href="">Wishlist</a></li>
                    </ul>
                </div>

                <div class="categoria-rodape">
                    <h2>Atendimento</h2>
                    <ul>
                        <li><a href="">Fompra segura</a></li>
                        <li><a href="">Formas de pagamento</a></li>
                        <li><a href="">Entrega e frete</a></li>
                        <li><a href="">Troca e pedidos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="informacoes-adicionais-bg">
            <div class="informacoes-adicionais">
                <div class="sac-bg">
                    <div class="sac">
                        <h2>sac (11) 2233-4455</h2>
                        <h2>Formas de pagamento</h2>
                    </div>

                    <div class="cards-pagamento">
                        <ul>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/visaCard.svg" alt="visa"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/amex.svg" alt="amex"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/mastercard.svg" alt="mastercard"></a></li>
                            <li class="pagamento-icone"><a href=""><img src="/css/img/diners-club.svg" alt="visa"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="site-seguro">
                    <a href=""><img src="css/img/desbloquear.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="endereco-bg">
            <div class="endereco">
                <p>Atendimento de segunda a quinta-feira das 09:00 às 18:00 e sexta-feira até as 17:00, exceto feriados - Avenida das Flores, 123   sala 10 - Bairro Jardim Alegre Cotia - São Paulo, CEP: 06700-000 - Florescer Artigos para o Lar Ltda - CNPJ: 12.345.678/0001-90</p>
            </div>
        </div>
    </footer>

   




    
    <script src="~/js/style.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
