
<h1>Adicionar Produto</h1>
<form action="Create" method="post">
   
    <div class="cadastro-container">

     <div class="form-itens">
        <input type="text" name="nome" placeholder="Nome" />
        <label for="nome">Nome do Produto</label>

        <input type="number" name="Preço de custo" />
        <label for="nome">Quantidade</label>
        

     </div>



    </div>
</form>

